{% extends "base.html" %}
{% load static %}
{% block custom_css %}
<!-- Mapbox GL JS -->
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />

<!-- LOCAL STYLESHEET -->
<link rel="stylesheet" type="text/css" href="{% static "jobs/css/map.css" %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div id='map-container'></div>
    </div>
</div>
{% endblock content %}
{% block custom_js %}
<!-- Mapbox GL JS -->
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<script type="text/javascript">
    var static_url = "{% get_static_prefix %}";
</script>
<script type="text/javascript" src="{% static 'jobs/js/map.js' %}" defer></script>
{% endblock %}