{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load tpl_extras %}
{% block content %}
  <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Chercher dans les archives</h4>
      <div class="row">
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.date.label_tag }}
          {% render_field filter.form.date class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.contract.label_tag }}
          {% render_field filter.form.contract class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.place.label_tag }}
          {% render_field filter.form.place class="form-control" %}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.technologies.label_tag }}
          {% render_field filter.form.technologies class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.title.label_tag }}
          {% render_field filter.form.title class="form-control" %}
        </div>
        <div class="form-group col-sm-3 col-md-3">
          {{ filter.form.content.label_tag }}
          {% render_field filter.form.content class="form-control" %}
        </div>
         {% if user.is_authenticated %}
          <div class="form-group col-sm-3 col-md-3">
            {{ filter.form.raw_offer__to_update.label_tag }}
            {% render_field filter.form.raw_offer__to_update class="form-control" %}
          </div>
          {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Rechercher
      </button>
    </div>
  </form>
  <div>
    <p>{{ offers.paginator.count }} offres trouvées</p>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Date de publication (RSS)</th>
        <th>Type de contrat reconnu</th>
        <th>Lieu reconnu</th>
        {% if user.is_authenticated %}
          <th>Corriger</th>
          <th>Nouvelle analyse</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for offer in offers %}
        <tr>
          <td>{{ offer.title }}</td>
          <td>{{ offer.pub_date|date }}</td>
          <td>{{ offer.contract }}</td>
          <td>{{ offer.place }}</td>
          {% if user.is_authenticated %}
          <td>
            <a target='_blank' href="{% url 'admin:jobs_georezorss_change' offer.id_rss %}">
              <button type="button" class="btn btn-circle"><i class="fas fa-pencil-alt" aria-hidden="true"></i></button>
            </a>
          </td>
          <td>{{ offer.raw_offer.to_update|yesno }}</td>
          {% endif %}
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">Aucune offre ne correspond à la recherche</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <nav aria-label="...">
      <ul class="pager">
        {% if offers.has_previous %}
          <li class="previous">
            <a href="?{% query_transform page=offers.previous_page_number %}"><span aria-hidden="true"><i class="fas fa-angle-left"></i> Précédente</a>
          </li>
        {% endif %}
        <span class="btn">Page {{ offers.number }} / {{ offers.paginator.num_pages }}</span>
        {% if offers.has_next %}
          <li class="next">
            <a href="?{% query_transform page=offers.next_page_number %}">Suivante <i class="fas fa-angle-right"></i><span aria-hidden="true"></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock content %}
