{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Nombre d'annonces par types de contrat</h1>
<div class="row">
  <div class="col-lg-4 col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fas fa-star fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_cdi }}</div>
            <div>CDI</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="far fa-star fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_cdd }}</div>
            <div>CDD</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fas fa-university fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_fp }}</div>
            <div>dans la fonction publique</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fas fa-graduation-cap fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_postdoc_these }}</div>
            <div>dont {{ nb_these }} thèses et {{ nb_postdoc }} post-doctorats</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fas fa-history fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_interim }}</div>
            <div>missions d'intérim</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fas fa-child fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_stage }}</div>
            <div>stages</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="far fa-star-half fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_apprentis }}</div>
            <div>apprentissages</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="far fa-paper-plane fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_volontariat }}</div>
            <div>volontariats (VI, VCAT...)</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fas fa-question fa-3x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="large">{{ nb_autres }}</div>
            <div>autres et {{ nb_nd }} indéfinis</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <br/>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" id="year">Par année</button>
  <button type="button" class="btn btn-default" id="month">Par mois</button>
  <button type="button" class="btn btn-default" id="week">Par semaine</button>
</div> -->
<div class="row">
    <div class="panel panel-default">
      <div class="panel-heading" id="title_contracts_type_pie">
        <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <svg id="chart_contracts_type_pie"> </svg>
      </div>
      <!-- /.panel-body -->
    </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class='chart'>
      <h2 id="title_contracts_type_pie"></h2>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class='chart'>
    <h2 id="title_offers_period"></h2>
    <svg id="chart_offers_period"> </svg>
</div>
</div>
<div class="col-md-2"></div>
</div>
<br/>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class='chart'>
    <h2 id="title_types_contract_period"></h2>
    <svg id="chart_types_contract_period"> </svg>
</div>
</div>
<div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
<div class='chart'>
    <h2 id="title_technos_pie"></h2>
    <div id="chart_technos_pie"> </div>
</div>
</div>
<div class="col-md-2"></div>
</div>


{% endblock content %}
{% block custom_js %}
<script src="{% static 'jobs/js/contracts.js' %}"></script>
<script type="text/javascript">
$( document ).ready(function() {

// When page loads
  var contracts_global = [
    { key: "CDI", y: {{ nb_cdi }} },
    { key: "CDD", y: {{ nb_cdd }} },
    { key: "FPT/FPE", y: {{ nb_fp }} },
    { key: "Interim", y: {{ nb_interim }} },
    { key: "Stages", y: {{ nb_stage }} },
    { key: "Apprentissage", y: {{ nb_apprentis }} },
    { key: "Recherche", y: {{ nb_postdoc_these }} },
    { key: "Autres", y: {{ nb_volontariat }} + {{ nb_autres }} },
    { key: "Non reconnu", y: {{ nb_nd }} },
  ];

types_contract_global(contracts_global);
offers_by_period("year");
types_contract_by_period("year");
contracts_by_technos({"softs": ["QGIS", "ArcGIS"],
                      "contracts": ["CDI", "CDD", "Stage"],
                      "period": "year"
                      }
                    );
});
</script>
{% endblock %}