{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <h1>{{article.title}}</h1>{% if user.is_authenticated %}<a target='_blank' href="{% url 'admin:cms_article_change' article.id %}">
                    <button type="button" class="btn btn-circle">
                        <i class="fas fa-pencil" aria-hidden="true"></i>
                    </button>
                </a> {% endif %}
                <hr>
                <p  class='text-muted'>
                    Catégorie : <a href="{% url 'cms:view_category' slug=article.category.slug_name %}">{{article.category}}</a>
                    - De : {{ article.author.first_name }}
                    <br><i class='far fa-calendar'></i> Créé le {{ article.created|date }} -
                    <i class='far fa-clock'></i> Mis à jour le {{ article.updated|date }}
                </p>
                <hr>
                <!-- <img class="img-responsive" src="http://placehold.it/900x300" alt=""><hr> -->
                <div class="text"><p class="lead">{{ article.content|safe }}</p></div>
                <hr>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    </div>
{% endblock %}
