{{! Sphinx Docstring Template }}
{{summaryPlaceholder}}

{{#parametersExist}}
{{#args}}
:param {{typePlaceholder}} {{var}}: {{descriptionPlaceholder}}
{{/args}}
{{#kwargs}}
:param {{typePlaceholder}} {{var}}: {{descriptionPlaceholder}}. Defaults to: {{&default}} - optional
{{/kwargs}}
{{/parametersExist}}

{{#exceptionsExist}}
{{#exceptions}}
:raises {{type}}: {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}

{{#returnsExist}}
{{#returns}}
:return: {{descriptionPlaceholder}}
:rtype: {{typePlaceholder}}
{{/returns}}
{{/returnsExist}}

:example:

.. code-block:: python

    # here comes an example in Python
